<div>
    <h3 class="text-center border-bottom p-3">My Contacts</h3>
    <div class="d-flex justify-content-end mt-5">
        <button class="btn btn-success" (click)="newContact()">
            <em class="fas fa-plus-square">&nbsp;</em>
            New Contact
        </button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Iban</th>
            <th scope="col" class="text-center"><em class="fas fa-cogs"></em></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.iban}}</td>
            <td class="text-center">
                <em class="fas fa-pencil cursor-pointer" style="color: #0d6efd;"></em>
                <em class="fas fa-trash cursor-pointer ms-3" style="color: #dc3545;"></em>
            </td>
          </tr>
        </tbody>
    </table>
</div>